{{ '{{ form_start(form) }}' }}
    {%- for field, metadata in fields %}
    <div class="row">
        <div class="col-md-12">
           {% if field!='id' %}
         {{"{{form_label(form."}}{{field}}{{', '}}{{" '"~ field ~"'|capitalize|trans  "}}{{''}}{{ ", {"}}{{ "'" }}{{ "label_attr': {class: 'col-md-4 control-label'}}) }}" }}
 		 {{"{{ form_errors(form."}}{{ field }}{{ ") }}" }} 
        <div class="col-md-8">
          {# Génération de l'input. #}
          {{ "{{ form_widget(form."}}{{ field }}{{", {'attr': {'class': 'form-control'}}) }}" }}
        </div>
                {% endif %}
            </div>
        </div>

    {%- endfor %}

   
    <input class="btn btn-info" type="submit" value="Create" />
{{ '{{ form_end(form) }}' }}