{% block extends %}
{{ "{% extends '"~ bundle ~ "::base.html.twig' %}" }}
{% endblock extends %}

{% block title %}
    {{ "{% block title %}" }}
    {{ "{{parent()}} - Index"  }}   
    {{ "{% endblock %}" }}
 {% endblock %}


{% block body %}
{{ "{% block body %}" }}
    <h1>{{"{{ '"~ entity_pluralized ~"'|capitalize|trans  }}"}}</h1>
      {% if 'new' in actions -%}
          <div class="btn-group" role="group" aria-label="...">
            <a  class="btn btn-info" href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}"> {{ "{{ 'Create a new'|trans  }}" }} {{ "{{ '"~ entity_singularized ~"'|trans  }}" }} </a>
     	</div>
    {%- endif %}
    

    <table class="table">
        <thead>
            <tr>
            {%- for field, metadata in fields %}

                <th>{{ "{{ '"~ field ~"'|capitalize|trans  }}" }}</th>

            {%- endfor %}

                <th>{{ "{{ 'actions'|capitalize|trans  }}" }}</th>
            </tr>
        </thead>
        <tbody>
        {{ '{% for ' ~ entity_singularized ~ ' in ' ~ entity_pluralized ~ ' %}' }}
            <tr>

        {%- for field, metadata in fields %}
            {%- if loop.first and ('show' in actions) %}

                <td><a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { '"~ identifier ~"': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}">{{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}</a></td>

            {%- elseif metadata.type in ['datetime'] %}

                <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>
            
            {%- elseif metadata.type in ['date'] %}

                <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d\') }}{% endif %}' }}</td>
          
            {%- elseif metadata.type in ['time'] %}

                <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'H:i:s\') }}{% endif %}' }}</td>

            {%- elseif metadata.type in ['array'] %}

                <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|join(\', \') }}{% endif %}' }}</td>

            {%- elseif metadata.type in ['boolean'] %}

                <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}Yes{% else %}No{% endif %}' }}</td>

            {%- else %}

                <td>{{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

            {%- endif %}

            {%- if loop.last %}

                <td>
                    <div class="btn-group" role="group" aria-label="...">
  


                    {%- for action in record_actions %}

                   
                            <a type="button" class="btn btn-info" href="{{ "{{ path('" ~ route_name_prefix ~ "_" ~ action ~ "', { '"~ identifier ~"': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}">{{ "{{ '"~ action ~"'|capitalize|trans  }}" }}</a>
                    

                    {%- endfor %}

                   </div>
                </td>

            {%- endif %}
        {%- endfor %}

            </tr>
        {{ '{% endfor %}' }}
        </tbody>
    </table>

  

{{ "{% endblock %}" }}
{% endblock body %}
