{% block extends %}
{{ "{% extends '"~ bundle ~ "::base.html.twig' %}" }}
{{ "{% import _self as forms %}" }}
{{ "{% form_theme form 'bootstrap_3_layout.html.twig' %}" }}
{% endblock extends %}

{% block title %}
    {{ "{% block title %}" }}
    {{ "{{parent()}} - New"  }}   
    {{ "{% endblock %}" }}
 {% endblock %}

{% block body %}
{{ "{% block body %}" }}
    <h1>{{"{{ '"~ entity_singularized ~"'|capitalize|trans  }}"}}</h1>
{{   "{%   include '"~ bundle ~ ":"~ entity_singularized ~":_form.html.twig' with { 'form': form} %}" }}

<hr>
{% set hide_edit, hide_delete = true, true %}
{{ include('crud/views/others/record_actions.html.twig.twig') -}}
{{ "{% endblock %}" }}
{% endblock body %}
