{% block extends %}
{{ "{% extends '"~ bundle ~ "::base.html.twig' %}" }}
{% endblock extends %}

{% block title %}
    {{ "{% block title %}" }}
    {{ "{{parent()}} - Show"  }}   
    {{ "{% endblock %}" }}
 {% endblock %}


{% block body %}
{{ "{% block body %}" }}
    <h1>{{"{{ '"~ entity_singularized ~"'|capitalize|trans  }}"}}</h1>

 
   
        {%- for field, metadata in fields %}

            <div class="row">
           
                 <div class="col-md-12"><div class="col-md-2"><b>{{ field|capitalize }}</b></div>

            {%- if metadata.type in ['datetime'] %}

                <div class="col-md-4">{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</div></div>

            {%- elseif metadata.type in ['date'] %}

                <div class="col-md-4">{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d\') }}{% endif %}' }}</div></div>

            {%- elseif metadata.type in ['time'] %}

                <div class="col-md-4">{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'H:i:s\') }}{% endif %}' }}</div></div>

            {%- elseif metadata.type in ['array'] %}

                <div class="col-md-4">{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|join(\', \') }}{% endif %}' }}</div></div>

            {%- elseif metadata.type in ['boolean'] %}

                <div class="col-md-4">{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}Yes{% else %}No{% endif %}' }}</div></div>

            {%- else %}

                <div class="col-md-4">{{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}</div></div>

            {%- endif %}

            </div>

        {%- endfor %}

   <hr>
{% set hide_edit, hide_delete = false, false %}
{{ include('crud/views/others/record_actions.html.twig.twig') -}}
{{ "{% endblock %}" }}
{% endblock body %}
