    /**
{% block phpdoc_method_header %}
     * Lists all {{ entity_singularized }} entities.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/", name="{{ route_name_prefix }}_index")
     * @Method("GET")
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function indexAction()
{% endblock method_definition %}
    {
{% block method_body %}
        $em = $this->getDoctrine()->getManager();

        ${{ entity_pluralized }} = $em->getRepository('{{ bundle }}:{{ entity }}')->findAll();
{% endblock method_body %}

{% block method_return %}
{#OCPlatformBundle:Advert:menu.html.twig#}
        return $this->render('{{namespace|replace({'\\': ''})}}:{{ entity|lower|replace({'\\': '/'}) }}:index.html.twig', array(
            '{{ entity_pluralized }}' => ${{ entity_pluralized }},
        ));
{% endblock method_return %}
    }
