{%- if ('delete' in actions) and (not hide_delete) %}
   {{ '{{ form_start(delete_form) }}' }}
{%- endif %}     
 <div class="btn-group" role="group" aria-label="...">
    <a class="btn btn-info" href="{{ "{{ path('" ~ route_name_prefix ~ "_index') }}" }}">{{"{{ 'back_to_list'|capitalize|trans  }}"}}</a>
       {%- if ('edit' in actions) and (not hide_edit) %}
           <a class="btn btn-info" href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { '"~ identifier ~"': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}">{{"{{ 'edit'|capitalize|trans  }}"}}</a>
       {%- endif %}
       {%- if ('delete' in actions) and (not hide_delete) %}
			<input class="btn btn-info" type="submit" value="Delete">
       {%- endif %}
</div>
{%- if ('delete' in actions) and (not hide_delete) %}
    {{ '{{ form_end(delete_form) }}' }}
{%- endif %}       